nav{
  background-color: black;
  color: white;
  font: 30px;
  gap: 30px;
  display: flex;
  padding: 10px;

}
a li{
  color: white;
  text-decoration: none;
}
.active{
  background-color: red;
  font-weight: 800;
  padding: 5px;
}